/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --black: #000000;
    --lt-gray: #939493;
    --md-gray: #828386;
    --dk-gray: #5E5859;
    --red: #5E0212;
    --white: #fff;

    --fonts: "Playfair Display", "Yuji Mai", "Oswald";
}

body{
    font-family: playfair display;
    line-height: 1.35;
    margin: 5rem;
}

header{
    padding: 2rem;
    background-color: #000000;
    color: #fff;
    display: grid;
    grid-area: auto;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: auto;
}

header img{
    width: auto;
}

h1, h2, h3{
    margin: 0.5rem 0;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    list-style-type: none;
}

nav a{
    color: var(--red);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

header img{
    display: block;
    width: 100%;
    color: #fff;
}

section img{
    display: block;
    width: 300px;
    height: auto;
}

a{
    display: block;
    padding: 1rem;
}

h1 a:hover{
    text-decoration: overline underline;
}

#contact.html{
    background-color: var(--red);
    font-weight: bold;
    color: var(--white);
    width: fit-content;
    margin: 1rem auto;
    text-decoration: none;
    border-radius: 32px;
}

main{
    padding: 0rem;
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--lt-gray);
    display: grid;
}

main > p{
    text-align: center;
    font-size: 1.5rem;
}

p{
    padding: 1rem;
    max-width: 65ch;
    margin: 0 auto;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.required{
    color: var(--red);
    font-weight: bold;
}

input, label, textarea{
    display: block;
    font-size: 1rem;
}

label{
    margin: auto 0;
    text-align: left;
}

input{
    padding: 0;
}

#my-submit{
    grid-column: 1/-1;
    padding: 1rem 1rem;
    margin: 1rem 0;
    background-color: var(--md-gray);
    color: var(--white);
    font-size: 1rem;
    border: none;
    border-radius: 32px;
    justify-self: end;
}